body, html  {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.video-background {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(8px); /* Initial blur */
    transition: filter 1s ease, opacity 1s ease; /* Smooth transition for blur and fade */
}

#bg-video.fade-out {
    filter: blur(0); /* Removeablur */
    opacity: 1; /* Ensure full opacity */
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.5em;
}

.play-button, .mute-button {
    position: absolute;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    font-size: 2em; /* Larger icon size */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.play-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none; /* No background */
    width: 200px; /* Larger size */
    height: 200px; /* Larger size */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.play-button:hover {
    color: rgba(255, 255, 255, 0.7); /* Change icon color on hover */
    border-color: rgba(255, 255, 255, 0.7); /* Change border color on hover */
}

.mute-button {
    top: 10px;
    left: 10px;
    background: none; /* No background */
    width: 50px; /* Default size */
    height: 50px; /* Default size */
}

.mute-button:hover {
    color: rgba(255, 255, 255, 0.7); /* Change icon color on hover */
}
